.awards{
    background-color: #122947;
    padding: 80px 0;
    width: 100%;
}

.title_awards{
   width: 60%;
   margin: 0 auto;
}

.title_awards p{
    text-align: center;
    color: #27ae60;
}

.title_awards h1{
    text-align: center;
    color:white;
    font-size: 40px;
    font-weight: 300;
    padding: 15px;
}

.awards_services{
    grid-gap: 7px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 80%;
    margin: 0 auto;
}

.services{
    text-align: center;
    color: white;
}

.services h1{
    font-size: 50px;
    padding: 20px;
}

.services .icon {
    background-color:hsla(0,0%,100%,.1);
    border-radius: 4% 50%;
    color: #fff;
    font-size: 32px;
    height: 100px;
    line-height: 100px;
    margin: 50px auto auto;
    width: 100px;
}

  
